@import "ext/fonts";
@import "syntax";
@import "sidebar";
@import "menu";

* {
  margin: 0;
}

$linkColor: #0a59b0;
$mobileW: 768px;
$smallMobileW: 480px;
$bigScreenW: 1600px;
$leftWidth: 220px;

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
embed,
object,
video {
  max-width: 100%;
}

a {
  color: #000;
  transition: color 0.3s;
  &:hover {
    color: $linkColor;
  }
}

h2 {
  margin: 0.7em 0;
}

.post-wrapper {
  border-bottom: 1px solid #ececec;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.post-categories {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    font-size: 14px;
    float: left;
    background-color: #e3e3e3;
    padding: 5px 20px;
    border-radius: 2px;
    @media screen and (max-width: $mobileW) {
      margin-top: 5px;
    }
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.post-date {
  margin-right: 10px;
  color: #555;
  min-width: 150px;
}
.post-info-container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 20px 0;
}
.post-info {
  margin-right: 10px;
  color: #555;
  min-width: 150px;
}
.post-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $mobileW) {
    flex-direction: column-reverse;
    align-items: baseline;
    .post-date {
      margin-bottom: 16px;
    }
  }
}
.post-link {
  text-decoration: none;
}

.post-title {
  line-height: 1.2em;
  font-size: 28px;
}
.posts,
.post-container {
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
  @media screen and (max-width: 768px) {
    padding-top: 0px;
    max-width: calc(100vw);
  }
}

.post {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #222;
  line-height: 1.9em;
  a {
    color: $linkColor;
    text-decoration: none;
    transition: border-bottom 0.4s;
    &:hover {
      border-bottom: 0.5px solid $linkColor;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
}

#posts-label {
  border-bottom: 1px solid #eee;
  font-size: 15px;
  color: #777;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
  font-weight: normal;
}

.textRight {
  text-align: right;
}

.img-print {
  display: block;
  border: 1px double black;
  max-width: 800px;
  width: 90%;
  margin: auto;
}
.box {
  padding: 20px;
  color: #000;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.box.success {
  background-color: #4caf5061;
}
.box.info {
  background-color: #2196f361;
}
.box.warning {
  background-color: #ff980061;
}
