<!DOCTYPE html>
<html>

<head>
  {%- include head.html -%}
</head>
<div id="viewport">
  <section id="menu">
    {%- include menu-mobile.html -%}
  </section>
  <section id="sidebar">
    {%- include about.html -%}
  </section>

  <section id="content">
    <div id="logo-mobile">
      <a href="/">
        <img src="/assets//logo.png" alt="logo" />
      </a>
    </div>
    {{ content }}
  </section>
</div>
{%- if site.analytics_id -%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.analytics_id}}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', '{{site.analytics_id}}');
</script>

{%- endif -%}
</body>

</html>